<form method="post" action="/add">
  <label for="name">Имя:</label>
  <input type="text" name="name">

  <label for="surname">Фамилия:</label>
  <input type="text" name="surname">

  <label for="passport">Паспорт:</label>
  <input type="text" name="passport">

  <label for="tin">ИНН:</label>
  <input type="text" name="tin">

  <label for="snils">СНИЛС:</label>
  <input type="text" name="snils">

  <label for="driverlicence">Водительское удостоверение:</label>
  <input type="text" name="driverlicence">

  <label for="note">Заметки:</label>
  <input type="text" name="note">

  <input type="submit" value="Submit">
</form>

<br>

<% @errors.each do |error| %>
  <div><%= error %></div>
<% end %>

<br>

<table border="1">
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Пасспорт</th>
    <th>ИНН</th>
    <th>СНИЛС</th>
    <th>Вод. удостоверение</th>
    <th>Заметка</th>
  </tr>
  
  <% @individuals.each do |person| %>
    <tr>
      <td><%= person["name"] %></td>
      <td><%= person["surname"] %></td>
      <td><%= person["passport"] %></td>
      <td><%= person["tin"] %></td>
      <td><%= person["snils"] %></td>
      <td><%= person["driverlicence"] %></td>
      <td><%= person["note"] %></td>
      </tr>
  <% end %>
</table>